*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
  justify-content: center;
    align-items: center;
    color: cornsilk;
    height: 100vh;
    width: 100vw;
}
.main{
    height: 90vh;
    width: 20vw;
    background-color: #031890cc;
    display: flex;
    flex-direction: column;
  justify-content: center;
    align-items: center;
}
.logo{
    height: 150px;
    width: 150px;
    margin-bottom: 20px;

}
.container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    border: 6px solid rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}
.box{
    border:1px solid rgb(248, 248, 248);
    border-radius: 1px;
   background-color: black;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.plyrs{
    display: flex;
    justify-content: space-around;
    
}
.plyrs img{
    height: 50px;
    width: 50px;
   
}
.container2
{
    display: flex;
}
.status{
    height: 5%;
    width: 60%;
    margin: 10px;
    padding: 6px;
    border-radius: 3px;
   font-size: 15px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: bold;
   text-align: center;
   display: flex;
   flex-direction: column;
   background-color: rgb(0, 0, 0);
   color: #ffffff;
   cursor: default;

}

#Restart{
    padding: 10px;
    width: 130px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
 background-color:rgb(208, 229, 255);
 color:rgb(10, 9, 9);
 cursor: pointer;
 border-radius: 5px;
 box-shadow: #842c2c;
}
   
 #Restart:hover {
    box-shadow: none;
    color: #7253f9;
    translate: 0 2px;
  }
.win{
    animation: winAnimation ease-in-out 1s infinite;
}

@keyframes winAnimation {
  0%{background-color: #818181;}
  100%{background-color: #000000;}
  
}
img{
    height: 50px;
    width: 50px;
}
@keyframes playerWinAnimation {
    0%{background-color: #fffbfb;}
    100%{background-color: #e41414;}
}