*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
  justify-content: center;
    align-items: center;
    color: cornsilk;
    height: 100vh;
    width: 100vw;
}
.main{
    height: 90vh;
    width: 20vw;
    background-color: rgb(0, 0, 98);
    display: flex;
    flex-direction: column;
  justify-content: center;
    align-items: center;
}
.logo{
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    border: 6px solid rgb(251, 251, 251);
    border-radius: 20px;
    background-color: black;
    margin-bottom: 30px;
}
.box{
    border:1px solid white;
    border-radius: 3px;
   background-color: black;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.plyrs{
    display: flex;
    justify-content: space-around;
    
}
.plyrs img{
    height: 50px;
    width: 50px;
    margin: 5px;
}
.container2
{
    display: flex;
}
.status{
    margin: 10px;
   font-size: 10px;
   display: flex;
   flex-direction: column;
   background-color: black;
   

}
.status1{
    margin: 10px;
   font-size: 10px;
   display: flex;
   flex-direction: column;
   background-color: black;
   
}
#Restart{
    padding: 10px;
    width: 150px;
 background-color:pink;
 color:black;
   
}
.win{
    animation: winAnimation ease-in-out 1s infinite;
}

@keyframes winAnimation {
  0%{background-color: #472c2e;}
  100%{background-color: #400f0f;}
  
}
img{
    height: 20px;
    width: 20px;
}
